body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background: #eee;
    padding: 10px;
    margin-top: 10px;
}